
// color variables
$yellow: #F5DD16;
$dark-grey: #7c7c7c;
$light-grey: #bebebe;
$red: #ee4525;


// navbar style
.navbar {
  background-color: $dark-grey;
  .navbar-brand {
    color: $yellow !important;
  }
}

// tasks style

.tasks_list {
  margin-top: 40px;
  .title {
    font-size: 22px;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .create_task_btn {
    background-color: $dark-grey;
    border-color: $dark-grey;
    font-weight: 500;
    margin-top: 10px;
  }

  .remove_tasks_btn {
    background-color: $red;
    border-color: $red;
    font-weight: 500;
    margin-top: 10px;
    color: white;
  }

  .card {
    background-color: $dark-grey;
    table {
      tbody > tr:nth-child(1) > td{
        border-top: 0;
      }
      color: white;
      font-weight: 500;
      margin-bottom: 5px;

      .uncheck {
        color: $yellow;
        font-size: 15px;
        transition: .2s;
        :hover {
          color: $light-grey;
          transition: .2s;
        }
      }

      .check {
        color: $light-grey;
        font-size: 15px;
        transition: .2s;
        :hover {
          color: $yellow;
          transition: .2s;
        }
      }

      .delete{
        color: white;
        transition: .2s;
        :hover {
          color: $light-grey;
          transition: .2s;
        }
      }
    }
  }
}